body {
  margin: 0;
  padding: 0;
}

div.mover {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid black;
  left: 8px;
  top: 8px;
  background-color: transparent;
  position: absolute;
}

i.arrow {
  position: absolute;
  font-size: 12px;
  top: 5px;
  right: 7.5px;
}

div.editor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid black;
  left: 35px;
  top: 8px;
  font-size: 12px;
  background-color: transparent;
  position: absolute;
}

i.pencil {
  position: absolute;
  font-size: 12px;
  top: 4px;
  right: 5px;
}

div.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid black;
  left: 62px;
  top: 8px;
  background-color: transparent;
  position: absolute;
}

div.mover:hover,
div.dot:hover,
div.editor:hover {
  background-color: #bbb;
}

#delete-card {
  border: 0px solid transparent;
  font-size: 15px;
  font-family: verdana;
  right: -1px;
  top: -3px;
  background-color: transparent;
  position: absolute;
}

textarea.card-input {
  width: 370px;
  height: 250px;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  border-radius: 20px;
  border-color: transparent;
  outline: 0;
  font-family: times;
  border: none;
  resize: none;
  background-color: rgba(0, 0, 0, 0);
  margin: 15px;
  margin-top: 37px;
}

button:focus {
  outline: 0;
}

/* Create menu button */
div.menuButton {
  left: 10px;
  top: 6px;
  position: fixed;
  display: inline-block;
  cursor: pointer;
  transition: 0.4s;
}

div.menuButton.open {
  cursor: pointer;
  left: 180px;
}

div.menuBar1,
div.menuBar2,
div.menuBar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.open .menuBar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.open .menuBar2 {
  opacity: 0;
}

.open .menuBar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

div.menu {
  width: 0px;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0px;
  transition: 0.4s;
  opacity: 0;
}

div.menu.open {
  width: 220px;
  background-color: white;
  height: 100%;
  position: fixed;
  border-right: 1px solid grey;
  opacity: 100;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
  transform: translateY(300px);
}

/* flip the pane when hovered */
/* .flip-container:hover .flipper, */
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 400px;
  height: 280px;
  margin: 0 auto;
  -webkit-animation: fadein 1s normal ease-out;
  animation: fadein 0.5s normal ease-out;
  margin-top: 20px;
  margin-bottom: 20px;
  bottom: 70px;
  text-align: center;
  font-size: 30px;
  word-wrap: break-word;
}

@keyframes fadein {
  from {
    height: 0px;
  }
  to {
    height: 280px;
  }
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  position: absolute;

  border: 1px solid grey;
  border-radius: 20px;
}

div.editing {
  border: 1px solid blue;
}

.content-text {
  white-space: pre-wrap;

  word-wrap: break-word;
  word-break: break-all;

  font-size: 30px;
  margin: 15px;
  margin-top: 37px;
  font-family: times;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg) translateY(295px);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg) translateY(295px);
}

.center {
  text-align: center;
  bottom: 20px;
  position: fixed;
  width: 100%;
}

.add-card {
  background-color: white;
  width: 180px;
  height: 50px;
  padding: 0;
  border-radius: 150px;
}

.add-card-text {
  font-size: 40px;
  transform: translateY(-10%);
}
