button:focus {
  outline: 0;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
  transform: translateY(300px);
}

/* flip the pane when hovered */
/* .flip-container:hover .flipper, */
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 400px;
  height: 280px;
  margin: 0 auto;
  -webkit-animation: fadein 1s normal ease-out;
  animation: fadein 0.5s normal ease-out;
  margin-top: 15px;
  margin-bottom: 15px;
  bottom: 70px;
  text-align: center;
}

@keyframes fadein {
  from {
    height: 0px;
  }
  to {
    height: 280px;
  }
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  backface-visibility: hidden;

  position: absolute;

  border: 1px solid grey;
  border-radius: 20px;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg) translateY(295px);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg) translateY(295px);
}

.center {
  text-align: center;
  bottom: 20px;
  position: fixed;
  width: 100%;
}

.add-card {
  background-color: white;
  width: 180px;
  height: 50px;
  padding: 0;
  border-radius: 150px;
}

.add-card-text {
  font-size: 40px;
  transform: translateY(-10%);
}
